* {
  margin: 0;
  padding: 0;
}

.padding-container {
  padding-top: 25px;
}

.img-user {
  width: 2.5em;
  height: 2.5em;
}

.padding-twitter {
  padding: 15px 15px 15px 15px;
}

textarea {
  resize: none;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: hidden; 
}

.padding-list-group {
  padding: 0 15px 0 15px;
}

.img-user-follow {
  width: 4em;
  height: 4em;
}

.myComent {
  word-wrap: break-word !important;
}

.mrg-btn {
  margin-top: 15px;
}