* {
  margin: 0;
  padding: 0;
}

.img-user {
  width: 2.5em;
  height: 2.5em;
}

textarea {
  resize: none;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: hidden; 
}

.img-user-follow {
  width: 4em;
  height: 4em;
}

.myComent {
  word-wrap: break-word !important;
}

.mrg-btn {
  margin-top: 15px;
}

/* No gutters */

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}